* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
	background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(24, 141, 144, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.wrapper {
	width: 440px;
}
form {
	padding: 30px;
	border-radius: 5px;
	background-color: #eeedc9;
	box-shadow: 0 0 10px #333;
}
.title {
	text-align: center;
}
.form-box {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}
.form-box.error input {
	border: 1px solid rgb(0, 173, 250);
	background-color: rgba(0, 173, 250, 0.1);
}
input {
	margin: 5px 0;
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #666;
}
.form-box .error-text {
	margin: 5px 0 0 10px;
	font-size: 14px;
	color: rgb(0, 173, 250);
	visibility: hidden;
}
.popup {
	position: absolute;
	top: -300px;
	left: 50%;
	padding: 20px 50px;
	transform: translateX(-50%);
	background-color: #eeedc9;
	border: 1px solid black;
	box-shadow: 0 0 10px #333;
	border-radius: 5px;
	transition: top 0.5s;
}
.control-buttons {
	display: flex;
	justify-content: flex-end;
}
button {
	padding: 10px 20px;
	margin-left: 20px;
	background-color: rgb(9, 83, 83);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover {
	background-color: rgb(4, 36, 36);
}
.close {
	display: block;
	margin-left: 0;
	margin: 20px auto 10px;
	text-align: center;
}
.form-box.error .error-text {
	visibility: visible;
}

.show-popup {
	top: 150px;
}
